.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

.commands {
    display: flex;
    flex-direction: row;
    align-items: center
}

.commands table {
    color: white;
}

.commands td {
    cursor: pointer;
}

.commands *{
    margin: 5px;
}

.last-block-infos {
    display: flex;
    flex-direction: row;
    color: white;
}

.last-block-infos * {
    margin: 5px;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    height: 100%;
}

#map {
    flex: 1;
    min-height: 0;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

#map > svg {
    height: 100%;
    width: 100%;
}

form label {
    color: white;
}

.form-block {
    display: flex;
    flex-direction: row;
}

.form-block > div {
    display: flex;
    flex-direction: column;
    margin: 5px;
}