<div #root>
  <form [hidden]="state !== 'infos'">
    <input #heightInput [(ngModel)]="height" type="number" name="height" min="0" (keyup.enter)="validHeight()" (blur)="validHeight()"/>
    <input #heightDiffInput [(ngModel)]="heightDiff" type="number" name="heightDiff" (keyup.enter)="validHeightDiff()" (blur)="validHeightDiff()"/>
  </form>
  <input #focusInput style="opacity: 0;"/>

  <svg xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg">
    <rect *ngFor="let rect of path" [attr.x]="rect.x * blockSize" [attr.y]="rect.y * blockSize"
      [attr.width]="blockSize" [attr.height]="blockSize" style="fill:#848484;stroke-width:3;stroke:#ddd" />
  </svg>
<div>
